@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Parisienne&display=swap');

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

#wide-screen-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
    text-align: center;
}

.wide-screen-text {
    font-family: "Cormorant Infant", serif;
    font-size: 30px;
    margin-right: 300px;
    margin-left: 300px;
}

.qr_image {
    margin-top: 60px;
    height: 200px;
    width: 200px;
}

#main-content {
    display: none; /* Hide main content initially */
}

body, html {
    margin: 0;
    padding: 0;
}

.main_image {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 85vh;
    object-fit: cover;
    display: block;
}

.middle_image {
    width: 100%;
}

.center-text {
    text-align: center;
    margin: 0;
    padding: 0;
}

.demo {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    font-size: 24px;
}

.color-block {
    content: "";
    margin: 0;
    width: 100%;
    /* height: 200px; */
    background-color: white;
    /* background-color: rgb(19, 19, 19); */
}

.title {
    font-family: "Cormorant Infant", serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 60px;
    margin-bottom: 0px;
    font-size: 85px;
    font-weight: bold;
}

.text {
    font-family: "Cormorant Infant", serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 55px;
}

.lower-text {
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: "Cormorant Infant", serif;
    font-size: 40px;
}

.icon {
    padding-top: 5px;
    width: 20px;
    height: 20px;
    margin: 0;
}

.timing-block {
    margin: 0px;
    margin-top: -20px;
    padding: 0px;
    padding-top: 25px;
    background-color: rgb(240, 240, 240);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.timing-block-title {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.event-timeline {
    padding: 60px;
    display: flex;
    flex-direction: column; /* Arrange events vertically */
    align-items: center; /* Center items horizontally */
}

.event {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.event-icon {
    margin-right: 20px;
}

.event-icon img {
    width: 250px; /* Adjust icon width as needed */
    height: auto; /* Maintain aspect ratio */
}

.event-details {
    padding-left: 20px;
}

.event-title {
    margin: 0 0 5px;
    font-size: 45px;
}

.event-subtitle {
    margin: 0;
    color: #888; /* Subtitle color */
    font-size: 35px;
}

.event-line {
    width: 4px;
    height: 120px;
    background-color: black;
    position: relative;
    top: 0px; left: -300px;
}

.dress-code-colors-image {
    margin-top: 70px;
    margin-bottom: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.location-image {
    width: 100%;
    height: auto;
}

.location-button {
    height: 100px;
    width: calc(100% - 400px);

    margin-top: 50px;
    margin-bottom: 120px;
    margin-left: 200px;
    margin-right: 200px;

    padding: 20px;

    color: black;
    background-color: white;

    border-radius: 25px;
    border-color: rgb(240, 240, 240);
    border-style: solid;
    border-width: 1px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    font-family: "Cormorant Infant", serif;
    font-size: 45px;
    transition: opacity 0.3s ease-in-out;
}

.countdown-block {
    text-align: center;
}

.timer-block {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.timer-box {
    width: 24%;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    align-items: center;
}

.timer-text-number {
    font-size: 70px;
    margin: 0;
    font-weight: bold;
    font-family: "Cormorant Infant", serif;
}

.timer-text-label {
    margin: 0;
    font-weight: lighter;
    font-family: "Cormorant Infant", serif;
    font-size: 60px;
}

.timer-vertical-separator {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 3px;
    height: 100px;
    background-color: black;
}

.rsvp-block {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(240, 240, 240);

    border-radius: 100px;
    /* border-bottom-left-radius: 100px; */
    /* border-bottom-right-radius: 100px; */
}

.rsvp-block-form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.rsvp-block-form-field {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s ease-in-out;
}

.rsvp-block-form-field label {
    margin-bottom: 5px;
}

.rsvp-block-form-field-input-textfield,
.rsvp-block-form-field-input-select {
    color: black;

    height: 100px;
    width: calc(100% - 100px);

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;

    border-radius: 10px;
    border: none;
    
    box-sizing: border-box;

    font-family: "Cormorant Infant", serif;
    font-size: 55px;
}

.icon-button {
    display: block;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.icon-button img {

    width: 100px;
    height: 100px;
    border: none;
    display: block;
}

.rsvp-block-form-field-input-button {
    height: 120px;
    width: calc(100% - 100px);

    margin-top: 50px;
    margin-bottom: 120px;
    margin-left: 50px;
    margin-right: 50px;

    padding: 20px;

    color: black;
    background-color: white;

    border-radius: 25px;
    border-color: rgb(240, 240, 240);
    border-style: solid;
    border-width: 1px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    font-family: "Cormorant Infant", serif;
    font-size: 55px;
    transition: opacity 0.3s ease-in-out;
}

.rsvp-block-form-field-input-button:disabled {
    opacity: 0.3;
    pointer-events: none;
}

.guet-name-animatable {
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
}

.guest-name-animatable.animated {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.animatable-appear {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.animatable-appear.appeared {
    opacity: 1;
    transform: translateY(0);
}

.organizator-block {
    padding-left: 100px;
    padding-right: 100px;

    border-top-left-radius: 100px;
    border-top-right-radius: 100px;

    color: black;
    background-color: rgb(240, 240, 240);

    font-family: "Cormorant Infant", serif;
    font-size: 55px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
}

/* a[href^="tel"] {
    color: inherit;
    text-decoration: none;
} */

.contact-icon {
    width: 55px;
    height: 55px;
}

.wishes-block {
    margin-top: -100px;
    margin-bottom: 70px;
}

.bottle_of_wine_image {
    width: 150px;
    height: auto;

    display: block;

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    transform: rotate(-10deg);
}

.scroll-indicator {
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow {
    width: 50px;
    height: 50px;
    border-left: 8px solid white; /* Change color here */
    border-bottom: 8px solid white; /* Change color here */
    transform: rotate(-45deg);
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0) rotate(-45deg);
    }
    40% {
      transform: translateY(10px) rotate(-45deg);
    }
    60% {
      transform: translateY(5px) rotate(-45deg);
    }
  }